.country_detail {
    padding-top: var(--nav_height_desktop);
}

.back_btn {
    display: flex;
    padding: 7px 30px;
    gap: 5px;
    align-items: center;
    width: fit-content;
    box-shadow: 0 0 3px var(--light_mode_input);
    font-size: 14px;
    border-radius: 3px;
    transition: var(--transition);
    cursor: pointer;
}

.back_btn:hover {
    transform: scale(1.03);
}

.specific_country_detail {
    margin-top: var(--nav_height_desktop);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.country_flag {
    min-width: 490px;
    max-width: 600px;
    height: 460px;
    background-color: palevioletred;
}

.country_flag img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country_info {
    display: flex;
    flex-direction: column;
    place-content: center;
}

.specific_country_name {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: var(--font_wt_bold);
    font-size: 1.2rem;
}

.country_crumbs {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.country_crumbs p {
    margin: 0;
}

.bold {
    font-weight: var(--font_wt_normal);
}

.left {
    display: grid;
    gap: 0.5rem;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.right p {
    height: fit-content;
    align-self: flex-start;
}

.border_countries {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.border_countries .bold {
    align-self: flex-start;
}

.border_btn_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.border_btn_container span {
    padding: 5px 16px;
    border-radius: 2px;
    box-shadow: 0 0 3px var(--light_mode_input);
    transition: var(--transition);
}

.border_btn_container span:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 1050px) {
    .specific_country_detail {
        gap: 3rem;
    }

    .country_flag {
        min-width: 330px;
    }
}

@media screen and (max-width: 840px) {
    .specific_country_detail {
        margin-top: var(--nav_height_desktop);
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .country_flag {
        min-width: 100%;
    }

    .country_info {
        place-content: start;
    }

    .country_crumbs {
        gap: 3rem;
        flex-direction: column;
    }

    .border_countries {
        margin-top: 2rem;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .border_countries {
        align-items: flex-start;
    }
}
